$score_height: 120px;
$board_height: calc( 100vh - $score_height );

$questionDisplay: .875s;
$questionDelay: .15s;

$cell_width: calc( 100vw / 6 );
$cell_height: calc( $board_height / 6 );

@function cellY( $i ) {
    @return calc( $board_height / 6 * $i );
}

@function cellX( $i ) {
    @return calc( 100vw / 6 * $i );
}

@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes pulse {
    0% {border-color: #bdf;}
    20% {border-color: #444;}
    100% {border-color: #444;}
}

@keyframes countdown {
    // Subtract 22% each time until 0
    0% {height: 100%;}
    20% {height: 78%;}
    40% {height: 56%;}
    60% {height: 34%;}
    80% {height: 12%;}
    100% {height: 0%;}
}

@mixin position( $top: 0, $right: $top, $bottom: $top, $left: $right ) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

$cat_font: 'Comic Sans MS'; //'jBebas';
$prompt_font: 'jKorinna';

@font-face {
    font-family: $cat_font;
    src: url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $prompt_font;
    src: url('../fonts/itc_korinna_lt_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f0f0f0;
    font-family: $cat_font, Arial, serif;
    font-weight: 400;
    font-style: normal;
}

.hidden {
    display: none;
}

.board-container {
    background: url('../images/jeopardy-bg.jpg') no-repeat center center;
    background-size: cover;
}

.game-row {
    display: flex;
}

.game-cell {
    width: $cell_width;
    height: $cell_height;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010D8A; //#0000bb;
    color: #D7925E; //#ffffff;
    outline: 4px solid #000;
    text-shadow: 4px 4px 8px black;
    font-size: 44px;
    font-size: clamp(2rem, 3.33vw, 4rem); // 32-64 @ 1920px
    letter-spacing: 1px;
    outline-offset: -2px;

    &.invisible {
        background-color: transparent;
        color: transparent;
        text-shadow: none;
    }

    &.answered {
        font-size: 0;
    }

    &.highlight {
        background-color: #0000ff;
    }

    &.category-cell {
        color: white;
        background: url('../images/jeopardy-bg.jpg') no-repeat center center;
        background-size: cover;
        position: relative;

        .round-cat-name {
            background: darkblue;
            outline-offset: -2px;
            outline: 4px solid #000;
            @include position();
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: clamp(2.25rem, 2.5vw, 3rem); // 36-48 @ 1920px
            line-height: 1;
            padding: .5rem 2rem;

            &.visible {
                opacity: 1;
            }
            
            &.category-complete {
                font-size: 0;
            }
        }
    }
}

#scoreboard {
    display: flex;
    background-color: #f0f0f0;

    .player-podium {
        height: $score_height;
        flex: 1 1 25%;
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;
        background: darkblue;
        color: white;

        .player-score {
            border-top: 9px solid #bbb;
            width: 80%;
        }

        &.active {
            opacity: .9;
        }

        &.negative {
            .player-score {
                color: red;
            }
        }

        &.locked {
            background: darkred;
        }

        &.disabled {
            background: gray;
        }

        &.answering {
            background: cyan;
        }

        [data-phase="roundRunning"] & {
            &.board-control {
                background: blue;
            }
        }
    }

    .ps-logging {
        box-sizing: border-box;
        background: black;
        color: lime;
        padding: 1rem;
        font-family: monospace;
        line-height: 1.4;
        text-align: left;
        font-weight: normal;
        font-size: .875rem;
        align-items: flex-start;
        justify-content: flex-start;
        overflow: scroll;
        position: relative;
        flex-direction: column;

        #logPhase {
            position: relative;
            color: #00bbff;
        }

        #logJS {
            padding-top: 1rem;
            position: relative;

            &:before {
                content: "█";
                display: block;
                animation: blink 1s infinite step-end;
                width: 100%;
                position: absolute;
                left: 0;
                top: -.25rem;
            }
        }
    }
    
}

.category-slider {
    position: fixed;
    left: 0;
    top: 0;
    width: 600vw;
    height: 0;
    display: flex;
    overflow: hidden;
    opacity: 0;
    transition: opacity .5s ease-in-out, left .5s ease-in-out;

    &.visible {
        height: $board_height;
        opacity: 1;
    }

    .category-full {
        height: $board_height;
        width: 100vw;
        background: url('../images/jeopardy-bg.jpg') no-repeat center center;
        background-size: cover;
        
        > div {
            width: 100vw;
            height: $board_height;
            display: flex;
            background: darkblue;
            color: white;
            text-shadow: 0px 3px 8px rgba(0,0,0,.5);
            font-size: clamp(6rem, 7.5vw, 9rem); // 96-144 @ 1920px
            justify-content: center;
            align-items: center;
            text-align: center;
            opacity: 0;
            transition: opacity .5s;
            letter-spacing: 2px;

            &.visible {
                opacity: 1;
            }
        }
    }
}

[data-phase="roundRunning"] {
    .board-container .game-cell {
        cursor: pointer;
    }
}

.prompt-cell {
    width: $cell_width;
    height: $cell_height;
    font-family: $prompt_font, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    position: absolute;
    background: darkblue;
    color: white;
    z-index: -1;
    transition: top $questionDisplay $questionDelay, left $questionDisplay $questionDelay, height $questionDisplay $questionDelay, width $questionDisplay $questionDelay; 

    #prompt-round-1 & {
        // z-index: 2;
    }

    @for $i from 0 to 6 {
        &.col-#{$i} {
            left: cellX($i);
        }
        &.row-#{$i} {
            top: cellY($i);
        }
    }

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        scale: calc( 1/6 );
        transition: scale $questionDisplay $questionDelay;
        width: 100vw;
        line-height: 1.1;
        text-align: center;
        padding: 4vh 15vw;
        box-sizing: border-box;
        //font-size: clamp(5rem, 4.22vw, 3.375rem);
        font-size: clamp(min(5cqw, 5cqh), 4.22vw, min(10cqw, 10cqh));
        text-transform: uppercase;
        text-shadow: 4px 4px 8px black;
        letter-spacing: 1px;
        position: absolute;
        translate: -50% -50%;
        left: 50%;
        top: 50%;
    }

    &.active {
        z-index: 1;
        top: 0;
        left: 0;
        height: $board_height;
        width: 100vw;

        > div {
            scale: 1;
        }
    }

    .prompt-answer {
        opacity: 0;
    }
}

.active-lights {
    height: $board_height;
    width: 1rem;
    background: #000;
    position: fixed;
    top: 0;
    transition: margin 1s 1s;
    z-index: 10;

    &:before {
        content: '';
        @include position(2px);
        border: 4px dotted #444;;
    }

    &.al-left {
        left: 0;
        margin-left: -1rem;
    }

    &.al-right {
        right: 0;
        margin-right: -1rem;
    }

    .show-lights & {
        margin: 0;
    }

    .trigger-lights & {
        &:before {
            animation: pulse .5s infinite step-end;
        }
    }

    .timer-lights {
        opacity: 0;
        height: 100%;
        width: 100%;
        z-index: 20;
        position: absolute;
        @include position();
        overflow: hidden;
        top: 50%;
        transform: translateY(-50%);

        .tl-container {
            height: $board_height;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        i {
            height: .25rem;
            width: .25rem;
            background: #444;
            border-radius: 1rem;
            display: block;
        }

        &.tl-lit {
            i {
                background: #f88;
                box-shadow: 0px 0px 4px 2px red;
            }
        }
    }

    .answer-lights & {
        &:before {
            opacity: 0;
        }
        .timer-lights {
            opacity: 1;
        }
        .tl-lit {
            animation: countdown 5s step-end;
            animation-fill-mode: forwards;

            i {
                position: relative;

                &:before {
                    content: '✴';
                    color: white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-style: normal;
                    opacity: .5;
                }
            }
        }
    }
}